*{
    box-sizing: border-box;
  }
  
  body{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to bottom right,#00ff15,yellow, LightCyan, white);
    background-repeat: no-repeat;
  }
  
  
  #main{
    width: 100%;
    height: 30vh;
    position: relative;
  }
  
  .nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: white;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.2);
    z-index: 1;
    margin-right: 60%;
  }
  
  
  .logo img{
    height: 100px;
  }
  
  .menu{
    list-style: none;
    display: flex;
    margin-left: 60%;
  }
  
  .menu li a{
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
  }
  
  a{
    text-decoration: none;
  }
  
  
  .image img{
    width: 140%;
    height: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
  }
  
  .main-content{
    display: flex;
    justify-content: space-around;
    margin-right: 10%;
  }
  
  .line{
    font-family: 'Reggae One', cursive;
    font-size: 1rem;
    margin-left: 2%;
  }
  
  .heading{
    font-family: 'Girassol', cursive;
    font-size: 2rem;
    margin-left: 2%;
  }
  
  .start{
    font-family: 'Reggae One', cursive;
    background-color: blueviolet;
    color: white;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid indigo;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    margin-left: 10%;
  }
  
  .start:hover{
    background-color: whitesmoke;
    color: blueviolet;
    border: 2px solid black;
    cursor: pointer;
  }
  
  .menu li a:hover{
    background-color: rgb(27, 190, 219);
    color: white;
    font-weight: bolder;
    cursor: pointer;
  }
  
  
  .line2{
    display: flex;
    font-family: 'Itim', cursive;
    font-size: 30px;
  }